@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --start-fade-size: 0px;
    --end-fade-size: 30px;

    --max-width: 1040px !important;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace !important;
  
    --text: #FFFFFF !important;
    --background: #0B111D !important;
    --primary: #009af7 !important;
    --secondary: #070808 !important;
    --secondary-hover: #2780A6 !important;
    --background-hover: #102637 !important;
    --color-disabled: #ccc !important;
  
    --light-text-opacity: 0.9 !important;
    --card-border-colorless: 2px solid !important;
    --card-border: var(--card-border-colorless) var(--primary) !important;
    --button-border-radius: 16px !important;
    --card-border-radius: 30px !important;
    --button-max-height: 52px !important;

    --trade-info-gap: 25px !important;

    --size-input: 39.6px !important;
    --size-price: 33.4px !important;
    --size-price-heading: 19.4px !important;
    --size-price-withdrawal: 14px !important;
    --size-pair-na: 16.7px !important;
    --size-price-subheading: 10.6px !important;
    --size-p: 22px !important;
    --size-small: 17.6px !important;

    --size-panel-buttons: 24.19px;
    --size-panel-text: 29.03px;
    --min-width-panel-buttons: 150px;

    --size-settings-heading: 30px !important;
    --size-label-heading: 22px !important;

    --color-text: #FFFFFF;
    --color-text-light: #FFFFFFD9;
    --color-background: #0B111D;
    --color-background-shade: #343946;
    --color-primary: #2987C8;
    --color-primary-shade: #206C92;
    --color-accent: #AC5B99;
    --color-success: #27C667;
    --color-warning: #E09400;
    --color-failure: #E80000;

    --button-height: 60px;

    --overlay-color: rgba(255, 255, 255, 0.03);
    --overlay: linear-gradient(var(--overlay-color), var(--overlay-color));

    --gradient-glass-stroke:
      linear-gradient(65deg, rgba(41,135,200,0.02) 0%, rgba(41,135,200,0.22) 100%),
      linear-gradient(65deg, rgba(188,188,188,0.12) 0%, rgba(235,235,235,0.25) 100%);
    
    --placeholder-glass-stroke: #4E677D;
    --placeholder-glass-stroke-accent: #5A355A;
    --glass-border: 1.5px solid var(--placeholder-glass-stroke); /* TODO: Make gradient */

    --background-linear-gradient: linear-gradient(var(--color-background), var(--color-background));
  } 
}

[filter-fade='none'] {
  --start-fade-size: 0px;
  --end-fade-size: 0px;
}

[filter-fade='start'] {
  --start-fade-size: 0px;
  --end-fade-size: 30px !important;
}

[filter-fade='middle'] {
  --start-fade-size: 30px !important;
  --end-fade-size: 30px !important;
}

@media screen and (max-width: 1020px) {
  :root {
    --button-max-height: 50px !important;
    --trade-info-gap: 20px !important;

    --size-input: 31px !important;
    --size-price: 30px !important;
    --size-price-heading: 17.5px !important;
    --size-price-withdrawal: 12.6px !important;
    --size-pair-na: 15px !important;
    --size-price-subheading: 11px !important;
    --size-p: 19.8px !important;
    --size-small: 15.8px !important;
  }
}

@media screen and (max-width: 845px) {
  :root {
    --button-max-height: 48px !important;

    --size-input: 39px !important;
    --size-price: 28.5px !important;
    --size-price-heading: 16.6px !important;
    --size-price-withdrawal: 12px !important;
    --size-pair-na: 14.2px !important;
    --size-price-subheading: 10.5px !important;
    --size-p: 17.8px !important;
    --size-small: 14.2px !important;

    --size-settings-heading: 25.5px !important;
    --size-label-heading: 18.7px !important;
  }
}

@media screen and (max-width: 420px) {
  :root {
    --size-input: 31px !important;
    --size-price: 25px !important;
    --size-price-heading: 15.7px !important;
    --size-price-withdrawal: 11.4px !important;
    --size-pair-na: 13.5px !important;
    --size-price-subheading: 10px !important;
    --size-p: 16px !important;
    --size-small: 12.8px !important;

    --size-settings-heading: 21.7px !important;
    --size-label-heading: 15.9px !important;
  }
}

/*
Breakpoint 1: 1020px
Breakpoint 2: 845px
Breakpoint 3: 420px
*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body[data-scroll-locked] {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  margin: 0 auto !important;

  background-color: var(--background);
  color: var(--text);
  font-weight: 250;
  font-size: var(--size-p);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  background-color: var(--background);
  border: 0px solid;
  color: var(--white);
  font-size: var(--size-input);
  text-align: right;
  width: 100%;
}

input:focus {
  outline: none !important;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  gap: 15px;
  border-radius: var(--button-border-radius);
  border: var(--card-border);
  background-color: var(--background);
  color: var(--text);
  cursor: pointer;
  font-size: var(--size-small);
  max-height: var(--button-max-height);
}

button:hover {
  background-color: var(--background-hover);
}

button:active {
  background-color: var(--secondary);
}
