:root {
  --max-width: 1040px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --text: #FFFFFF;
  --background: #0B111D;
  --primary: #2780A6;
  --secondary: #1E6584;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-weight: 250;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.card-border {
  border: 2px solid var(--primary);
}

.button-radius {
  border-radius: 16px;
}

.card-radius {
  border-radius: 30px;
}
