.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 00px;
}

.quartz-logo {
    justify-content: center;
}

@media screen and (max-width: 420px) {
    .quartz-logo {
        width: 225px;
        height: 75px;
    }

    .header-container {
        margin-bottom: 10px;
    }
}