.search-button {
    background-color: var(--primary);
    border: 0px solid;
    justify-content: center;
    font-size: 22px;
    padding: 35px 0px;
}

.search-button:hover {
    background-color: var(--secondary);
}

.search-button:active {
    background-color: var(--secondary-hover);
}
