.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}

.settings-header {
    font-size: var(--size-settings-heading);
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 20px;
}

.settings-modal {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 500px;

    border: var(--card-border);
    background-color: var(--background);
    border-radius: var(--button-border-radius);

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

@media screen and (max-width: 845px) {
    .settings-modal {
        width: 60%;
        padding: 40px;
    }
}

@media screen and (max-width: 420px) {
    .settings-modal {
        width: 75%;
        padding: 30px;
    }
}

.toggle-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.refresh-speed {
    align-self: stretch;
}

.slider-label {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    justify-content: space-between;
    width: 100%;

    font-size: var(--size-label-heading);
}

.settings-label {
    font-size: var(--size-label-heading);
    font-weight: 300;
    margin-top: 0px;
    color: var(--label-color)
}

.label-value {
    margin-block-start: 0px;
}

.button-close {
    align-self: flex-end;
    height: 46px;
    margin-top: 10px;
}
