.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
}

.settings-button {
    padding: 6px;
    border-radius: 100%;
    border: 0px;
    cursor: pointer;
    max-height: none;
}

.icon-padding {
    margin-right: 15px;
}

.filters-wrapper {
    flex-shrink: 1;
    z-index: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    -webkit-mask-image: linear-gradient(to right, transparent 0, black var(--start-fade-size, 0), black calc(100% - var(--end-fade-size, 0)), transparent 100%);
    mask-image: linear-gradient(to right, transparent 0, black var(--start-fade-size, 0), black calc(100% - var(--end-fade-size, 0)), transparent 100%);

    align-self: flex-start;
}

.filters-wrapper::-webkit-scrollbar {
    display: none;
}

.filters-content {
    width: auto;
    float: left;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.s-left {
    position: absolute;
    height: var(--button-max-height);
    border: 0px;
    border-radius: 0% 100% 100% 0%;
    padding: 10px;

    -webkit-box-shadow: 0px 0px 15px 0px var(--background);
    -moz-box-shadow: 0px 0px 15px 0px var(--background);
    box-shadow: 0px 0px 15px 0px var(--background);

    left: 57px;
    z-index: 1;
}

.s-right {
    position: absolute;
    height: var(--button-max-height);
    border: 0px;
    border-radius: 100% 0% 0% 100%;
    padding: 10px;

    -webkit-box-shadow: 0px 0px 15px 0px var(--background);
    -moz-box-shadow: 0px 0px 15px 0px var(--background);
    box-shadow: 0px 0px 15px 0px var(--background);

    right: 0px;
    z-index: 1;
}

.filter-option {
    border: var(--filter-border);
    opacity: var(--filter-opacity);
    min-height: var(--button-max-height);
    gap: 8px;
}

.close-filter {
    margin-right: -8px;
}

@media screen and (max-width: 845px) {
    .filter-option {
        padding: 0px 10px;
        gap: 5px;
    }

    .close-filter {
        margin-right: -2px;
        height: 22px;
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    .icon-size {
        height: 22px;
        width: auto;
    }

    .icon-padding {
        margin-right: 8px;
    }

    .close-filter {
        height: 18px;
    }

    .s-left {
        display: none;
    }

    .s-right {
        display: none;
    }
}