.cex-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.cex-list li {
    text-decoration: none;
}

.cex-list a {
    text-decoration: none;
}

.cex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;

    border-radius: var(--card-border-radius);
    padding: 20px 50px;
    margin-bottom: 20px;
}

.price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.price-heading {
    font-size: 22px;
    opacity: var(--light-text-opacity);
    margin: 0px;
}

.price-subheading {
    font-size: 12px;
    opacity: var(--light-text-opacity);
    margin: 0px 0px 10px 0px;
}

.price {
    font-size: 38px;
    margin: 0px 0px 10px 0px;
}

.price-currency {
    font-size: 18px;
    opacity: var(--light-text-opacity);
    margin: 0px;
}

.cex-logo-wrapper {
    width: 250px;
    height: 40px;
}

.cex-logo {
    max-width: 100%;
}

.loading-spinner-wrapper {
    height: '100%';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}
