.cex-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.cex-list li {
    text-decoration: none;
}

.cex-list a {
    text-decoration: none;
}

.cex-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;

    border-radius: var(--card-border-radius);
    padding: 15px 50px;
    margin-bottom: 20px;

    background-color: var(--brand-color);
    border: var(--cex-border);
}

.cex-card-loaded .cex-logo {
    transition: transform 0.1s ease-out;
}

.cex-card-loaded:hover .cex-logo {
    transform: scale(1.1)
}

.cex-card-loaded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    opacity: 0;
    transition: opacity 0.1s ease-out;
    border-radius: var(--card-border-radius);
}

.cex-card-loaded:hover::before {
    opacity: 1;
}

.price-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.price-heading {
    font-size: var(--size-price-heading);
    opacity: var(--light-text-opacity);
    margin: 0px;
}

.price-subheading {
    font-size: var(--size-price-subheading);
    opacity: var(--light-text-opacity);
    margin: 0px 0px 10px 0px;
}

.price {
    font-size: var(--size-price);
    margin: 0px 0px 10px 0px;
}

.price-withdrawal {
    font-size: var(--size-price-withdrawal);
    opacity: var(--light-text-opacity);
    margin: 0px;
}

.token-pair-na {
    font-size: var(--size-pair-na);
    margin: 0px;
}

.cex-logo-wrapper {
    width: 250px;
    height: 40px;
}

.cex-logo {
    max-width: 100%;
}

.loading-spinner-wrapper {
    height: '100%';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

@media screen and (max-width: 1020px) {
    .cex-logo-wrapper {
        width: 225px;
        height: 36px;
    }
}
