.trade-info{
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--trade-info-gap);
    padding: 20px 30px;
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    margin-bottom: 50px;
}

.currencies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--trade-info-gap);
}

.select-currency{
    min-width: 120px;
}

.swap-currency-button{
    padding: 13px;
    border-radius: 100%;
}

@media screen and (max-width: 1020px) {
    .trade-info {
        padding: 20px 20px;
    }

    .select-currency{
        min-width: 112px;
    }

    .swap-currency-icon{
        width: 15.3px;
        height: 15.3px;
    }
}

@media screen and (max-width: 845px) {
    .trade-info {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }

    .input-amount {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .currencies {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .currencies-text {
        margin: 0px;
    }

    .trade-info{
        border-radius: 0;
        border: 0;
        border-bottom: var(--card-border);
    }
}
