.trade-info{
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 20px 30px;
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    margin-bottom: 50px;
}

.select-currency{
    min-width: 130px;
}

.swap-currency-button{
    padding: 13px;
    border-radius: 100%;
}

@media screen and (max-width: 1020px) {
    /* TODO: These aren't updating for some reason */
    .trade-info {
        gap: 15px;
        padding: 20px 20px;
    }

    .select-currency{
        min-width: 115px;
    }
}
