.trade-info{
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--trade-info-gap);
    padding: 20px 30px;
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    margin-bottom: 50px;
}

.currencies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--trade-info-gap);
}

.select-currency{
    min-width: 120px;
}

.swap-currency-button{
    padding: 13px;
    border-radius: 100%;
}



.DropdownMenuContent {
    background-color: #0B111D;
    border-color: #1E6584;
    border: 2px solid #2780A6;
    border-radius: 16px;
}

.DropdownMenuContent[data-side='top'],

.DropdownMenuContent[data-side='right'],

.DropdownMenuContent[data-side='bottom'],

.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}


.DropdownMenuRadioItem,

.DropdownMenuRadioItem {
    /*border: 1px solid #ccc;  Default border */
    font-size: 20px;
    padding-left: 15%;
}
  
  /* Hover styles */
.DropdownMenuRadioItem:hover {
    background-color: #16516B !important;
    cursor: pointer;
}

.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--violet-9);
  color: var(--violet-1);
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
}
.IconButton:hover {
  background-color: var(--violet-3);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px black;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve-8);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1020px) {
    .trade-info {
        padding: 20px 20px;
    }

    .select-currency{
        min-width: 112px;
    }

    .swap-currency-icon{
        width: 15.3px;
        height: 15.3px;
    }
}

@media screen and (max-width: 845px) {
    .trade-info {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }

    .input-amount {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .currencies {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .currencies-text {
        margin: 0px;
    }

    .trade-info{
        border-radius: 0;
        border: 0;
        border-bottom: var(--card-border);
    }
}
